@use "./base/reset";
@use "./base/h";
@use "./utilities/mixins";
@use "./utilities/maps";
@use "./utilities/variables";
@use "./components/conteiners";
@use "./components/logo";
@use "./components/navBar";
@use "./layout/body";
@use "./layout/footer";
@use "./layout/header";
@use "./layout/media/media425";
@use "./layout/media/media768";


.fotosBanda{
    img{
        filter: grayscale(100%);
        transition: filter 0.4s ease-in-out;
        &:hover{
            filter: grayscale(0%)
        }
    }
}


.fotosBanda {
    div{
        img{
            &:hover{
                -webkit-animation: scale-up-center 0.4s both;
                        animation: scale-up-center 0.4s both;
            }
        }
    }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
