@import "../../utilities/maps";

@media(max-width:768px){
    .logo{
        margin-top: 94px;
        margin-bottom: -69px;
    }
    .fotosBanda{
        margin-top: 1.875rem;
        div{
            flex: 1 1 calc(25% - 10px);
            max-width: calc(25% - 10px);
        }
    }
    .showConteiner{
        grid-template-columns: 100%;
    }
    .redesConteiner{
        a{
            img{
                width: 75%;
                height: auto;
            }
        }
    }
    
    .form-container{
        flex-direction: column;
        gap: 0rem;
        justify-self: center;
    }
    .comment-container{
        justify-self: auto;
        width: 100%;
    }
    .name-input,
    .email-input {
        width: 26.25rem;
}
}