body{
    background-image: url(../multimedia/escenario1.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}